<div ng-controller="SearchCtrl">
	<form ng-submit="fetch('comics', comicsInput)">
		<input type="text" ng-model="comicsInput" placeholder="Search comics...">
		<input type="submit" id="submitComics" value="OK">
	</form>
</div>
<ul>
	<li ng-repeat="comic in comics">
		<a href="#/comics/{{comic.id}}">{{comic.title}}</a>
	</li>
</ul>
<div ng-show="loading === true && creators == null"><md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular></div>

<div ng-controller="SearchCtrl">
	<form ng-submit="fetch('creators', creatorsInput)">
		<input type="text" ng-model="creatorsInput" placeholder="Search creators...">
		<input type="submit" id="submitCreators" value="OK">
	</form>
</div>
<ul>

	<li ng-repeat="creator in creators">
		<a href="#/creators/{{creator.id}}">{{creator.fullName}}</a>
	</li>
</ul>
<div ng-show="loading === true && comics == null"><md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular></div>
